{% extends 'markdown/index.md.j2' %}

{# See https://nbconvert.readthedocs.io/en/v7.3.1/customizing.html#a-practical-example #}

{%- block input -%}
~~~
{{ cell.source }}
~~~
{% if 'name' in nb.metadata.get('language_info', {}) -%}
{: .language-{{nb.metadata.language_info.name}}}
{% endif %}
{% endblock input %}

{%- block error -%}
~~~
{{ super() }}
~~~
{: .language-{{nb.metadata.language_info.name}}}

{% endblock error %}


{%- block stream -%}
~~~
{{ output.text.rstrip() }}
~~~
{: .output}

{%- endblock stream -%}


{%- block data_text scoped -%}
~~~
{{ output.data['text/plain'].rstrip() }}
~~~
{: .output}

{%- endblock data_text -%}
